<div class="container-fluid">
    <div class="row">
        <div style="background-color: #222222" class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar navbar-inverse">
                <li><a href="#">Overview <span class="sr-only">(current)</span></a></li>
                <li><a href="#">Reports</a></li>
                <li><a href="#">Analytics</a></li>
                <li><a href="#">Export</a></li>
            </ul>
            <h3>Administration</h3>
            <ul class="nav nav-sidebar navbar-inverse">
                <li><a href="#">Menu<span class="sr-only">(current)</span></a></li>
                <li><a href="#">Site</a></li>
                <li><a href="../index.php?siteAction=um">User Management</a></li>
            </ul>
        </div>
    </div>
</div>